.logo{
   
    padding: 14px;
    text-decoration: none;
    margin-top: -8px;
}
.logo-img{
    height: 97px;
    width: 97px;
    margin-top: 5px;
}
.logo-brand{
   
    margin-left: 20px;
    font-size: 17px;
    font-family: 'Muli' sans-serif;
}