.welcome-back{
    
    padding-inline-end: 417px;
}
.thank{
    padding-inline-end: 379px;
}
.stmt{
    /* background-color: #e5e5e8; */
    margin-right: 325px;
    margin-left: 325px;
    padding-top: 7px;
    padding-bottom: 9px;
}
.cen{
    text-align: center;
    padding-top: 100px
}